#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=KDE;Qt;Network;InstantMessaging;
Encoding=UTF-8
Name=Sweetfish for Linux
GenericName=Mastodon Client with Qt
GenericName[ja_JP]=Linuxを対象としたMastodon Client
Comment=Mastodon Client with Qt
Comment[ja_JP]=Linuxを対象としたMastodon Client
Exec=/usr/bin/sweetfish
Icon=/usr/share/pixmaps/sweetfish.png
Terminal=false
StartupNotify=true
Type=Application
